#reviews div.header {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px #c0c0c0 solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reviews div.review {
    border-bottom: 1px #c0c0c0 solid;
    margin-bottom: 10px;
}

#reviews div.review span.title {
    font-size: 12px;
    font-weight: bold;
}

#reviews div.review span.attribution {
    font-size: 10px;
}

#reviews .lit {
  background-image: url(/images/star-on.png);
  background-repeat: none;
  background-position: center center;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}

#reviews .unlit {
  background-image: url(/images/star-off.png);
  background-repeat: none;
  background-position: center center;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}
