<%- if defined?(edit_enabled) && edit_enabled -%>
<%- content_for :head do -%>
  <%= javascript_include_tag("jquery.raty.js") %>
  <%= javascript_tag(%(
    jQuery(document).ready(function($){
      $('div#rating_stars').raty({
        start: #{defined?(stars) && !stars.nil? ? stars : 'null'},
        path: '/images/',
        readOnly: #{defined?(edit_enabled) ? 'false' : 'true'},
        hintList: ['#{t('reviews.rating_titles.bad', :default => 'bad')}', '#{t('reviews.rating_titles.poor', :default => 'poor')}', '#{t('reviews.rating_titles.regular', :default => 'regular')}', '#{t('reviews.rating_titles.good', :default => 'good')}', '#{t('reviews.rating_titles.gorgeous', :default => 'gorgeous')}'],
        click: function(score, evt) {
          $('#product_review_rating').val(score);
        }
      });
    });
  )) %>
<%- end -%>

<div id="rating_stars"></div>
<input name="review[rating]" type="hidden" value="<%= defined?(stars) && !stars.nil? ? stars : 0 %>" id="product_review_rating" />

<%- else -%>

<%= render :partial => "reviews/stars#{stars}" %>

<%- end -%>
